{% extends "layout.html" %}

{% block content %}
<h2>Create Speech</h2>

{% if success %}
<p> <strong>You asked me:</strong> "{{create_speech_prompt}}" </p>
<p> <strong>Listen to the generated speech:</strong> </p>
<audio controls>
  <source src="{{ create_speech_response }}" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
{% else %}
{% for error in form.prompt.errors %}
<div class="alert">{{ error }}</div>
{% endfor %}

<form action="{{ url_for('createspeech.createspeech') }}" method="post">
<!-- 
This form has no CSRF protection. To add, see:
https://flask-wtf.readthedocs.io/en/stable/csrf/
-->

<div class="form-group">
  {{ form.prompt.label }}
  {{ form.prompt }}
</div>

<button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
<p> Please be patient, it may take a few moments for the speech to be generated. </p>
</form>
{% endif %}

{% endblock %}
